.cover__subtitle {
    position: relative;
    width: 360px;
    z-index: 2;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        margin-top: 32px;
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        margin-top: 16px;
    }
}
