.intro__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .intro__title {
        line-height: 35px;
        font-size: 32px;
    }
}
